body {    
    margin: 0 !important;
    padding: 0 !important;

    font-family: Courier New, Courier, monospace;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 2.5em;
    background: #0000FF;
}

.twopanels {
    position: absolute;
    top: 2.5em;
    bottom: 0px;
    width: 100%;
    display: flex;
}

.sidepanel {
    background: #FF0000;
    flex: 0 0 20%;
}

.chatpanel {
    background: #00FF00;
    flex: 1;
}

.messages {
    position: absolute;
    top: 0px;
    bottom: 2em;
    width: 80%;
    background: #FFFF00;
}

.messages ul {
    margin: 0;
    padding: 0;
}

.message {
    list-style: none;
    padding: 4px;
    background: #66FFFF;
}

.messageForm {
    position: absolute;
    bottom: 0px;
    height: 2em;
    width: 80%;
    background: #00FFFF;
}

.messageForm span {
    display: block;
    overflow: hidden;
}

.messageForm input {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 

    width: 100%;
    font-size: 1.4em;
}