body {    
    margin: 0 !important;
    padding: 0 !important;

    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    color: #F0F0F0;
}

.twopanels {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
}

.sidepanel {
    background: #19191A;
    flex: 0 0 20%;
}

.chatpanel {
    flex: 1;
}

.messages {
    position: absolute;
    top: 0px;
    bottom: 2em;
    width: 80%;
    overflow: auto;
    text-align: bottom;
    background: #111111;
}

.messages ul {
    margin: 0;
    padding: 0;
}

.messagelist li:nth-child(even) {
    background: #181818;
}

.message {
    list-style: none;
    padding: 4px;
}

.messageForm {
    position: absolute;
    bottom: 0px;
    height: 2em;
    width: 80%;
}

.messageForm span {
    display: block;
    overflow: hidden;
}

.messageForm input {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box; 

    color: #F0F0F0;
    border: 0;
    background: #2D2D2D;
    width: 100%;
    font-size: 1.4em;
    padding: 3px;
}